<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(test([0-9])/)?((sse|poll|ws)(/.*)?)" />
                    <conditions>
                        <add input="{CACHE_URL}" pattern="^(https?)://(www\.)?xsserver.org(:80)?" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}://localhost:5000{R:2}/{R:3}" />
                </rule>
                <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="(test([0-9])/)?(message)(/.*)?" />
                    <conditions>
                        <add input="{CACHE_URL}" pattern="^(https?)://" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}://localhost:5000{R:2}/{R:3}" />
                    <serverVariables>
                        <set name="CONTENT_TYPE" value="octet-stream" />
                    </serverVariables>
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Headers" value="*" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
